html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

@import "tables";

@import "footer";

@import "modal";

// common classes
.wm-bg-accent{
	background-color: $accent;
}
.wm-accordion{
	height: 68px;
	border-bottom: 1px solid $secondary;
	overflow: hidden;
	transition: .2s;
	&:first-child{
		border-top: 1px solid $secondary;
	}
	&.active{
		.wm-toggle-icon:after{
			transform: rotate(0deg);
		}
		.wm-accordion-body{
			// transform: scaleY(1);
		}
	}
	.wm-accordion-title{
		display: flex;
		color: $primary;
		font-family: $font_Futura;
		height: 68px;
		align-items: center;
		margin: 0px;
		cursor: pointer;
		position: relative;
	}
	.wm-accordion-body{
		padding: 40px 0px;
		font-size: 12px;
		color: $primary;
		line-height: 2em;
		transform-origin: top;
		transition: .3s;
	}
	.wm-toggle-icon{
		width: 18px;
		position: absolute;
		top: 50%;
		display: block;
		height: 18px;
		transform: translateY(-50%);
		right: 20px;
		&:after,&:before{
			content: "";
			width: 18px;
			position: absolute;
			height: 2px;
			background: $secondary;
			top: 7px;
			transition: .4s;
		}
		&:after{
			transform: rotate(90deg);
		}
	}
}

.mb-40{
	margin-bottom: 40px;
}
.noMargin{
	margin: 0 !important;
}